body {
  font-size: 1.25em;
  font-family: sans-serif;
  /* margin: 0.8rem; */
}

.topnav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  list-style: none;
  background-color: #222;
  padding: 0;
  margin: 0;
}
.second-nav {
  justify-self: flex-end;
  align-self: center;
}

.topnav-list-link {
  padding: 1.4rem 1.6rem;
  margin: 0;
  font-size: 2.4rem;
  gap: 0;
}
.first {
  background-color: green;
}
.first-nav {
  display: flex;
  gap: 0;
}

.first-nav a,
.second-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

.topnav div a:hover {
  background-color: #ddd;
  color: black;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1;
}
.heading-secondary {
  font-size: 2rem;
  line-height: 1.2;
}
.heading-tertiary {
  font-size: 1rem;
  line-height: 1.2;
}
.grid {
  display: grid;
}
.grid--2-col {
  grid-template-columns: 1fr 1fr;
}
.grid--5cols {
  grid-template-columns: repeat(5, 1fr);
}

.container {
  height: 80vh;
  /*width: 90%;*/
  margin: 0 auto;
  /*max-width: 120rem;*/
  padding: 0 3.2rem;
  margin-bottom: 3.2rem;
}

.margin-top{
  margin-top: 0.8rem;
}

/* ///////////////////////////// 
//////////  Tabulky   //////////
//////////////////////////////*/

table {
  border-collapse: collapse;
  font-size: 1.4rem;
  width: 100%;
}
th,
td {
  text-align: center;
  padding: 0.8rem 1.2rem;
}
th {
  /* border: 1px solid #343a40; */
  padding: 1.6rem 2.4rem;
}
thead th {
  background-color: #222;
  color: white;
  width: 20%;
}
tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}
tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
tbody tr:last-child{
  background-color: #737373;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
  flex-direction: row;
}
.heading .admin {
  padding: 1.6rem 3.2rem;
}
.nopointer{
  cursor: not-allowed;
}
.input-filter{
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  text-align: center;
}
.input--2cols{
  display: flex;
  justify-content: center;
  gap: 2px;
}
.input--2cols input{
  width: 50%;
}
.container-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}